<!-- nav bar -->
<nav class="navbar navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" routerLinkActive="active" routerLink="/">Flickr Feed Viewer and Search</a>
    <div class="mr-auto"></div>

    <!-- Search -->
    <div class="navbar-expand">
        <div class="navbar-nav">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" #tagValue
                    (keypress)="onKey($event)" aria-label="Search">
                <button (click)="tagSubmit(tagValue.value)" type="button" class="btn btn-outline-success my-2 my-sm-0">
                    Search
                </button>
            </form>
        </div>
    </div>

</nav>
<br><br><br>